.dashboard_wrapper {
  display: block;
  margin: 0 auto;
  max-width: 1000px;
  overflow-x: auto;
}
.dashboard_innerWrapper {
  min-width: 700px;
}
.primary_header {
  margin-bottom: 50px;
}
.header_bar {
  position: relative;
  background-color: #0d1527;
  color: white;
  padding: 20px 0;
  margin-bottom: 50px;
}
.header_bar .inner_wrapper {
  display: block;
  margin: 0 auto;
  max-width: 1000px;
}
.dashboard_header {
  color: #4a4a4a;
  font-weight: 700;
}
.bg_wrapper {
  position: absolute;
  display: block;
  top: 0;
  right: 20px;
  width: 300px;
}
.bg_wrapper img {
  width: 100%;
}
.loading_wrapper {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1024px) {
  .dashboard_wrapper {
    padding: 0 20px;
  }
  .header_bar {
    padding: 20px;
  }
}

@media screen and (max-width: 500px) {
  .primary_header {
    text-align: center;
    font-size: 30px;
    line-height: 1.5;
  }
}
@media screen and (max-width: 1350px) {
  .bg_wrapper {
    display: none;
  }
}
