.header_bar_wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 10px 20px 10px;
  border-bottom: 2px solid #f2f4f3;
}
.coin_icon {
  margin-right: 10px;
}
.coin_name_wrapper {
  display: flex;
  align-items: center;
}
.coin_name {
  font-size: 30px;
  font-weight: 900;
  margin-right: 10px;
  margin-bottom: 2px;
}
.coin_symbol {
  font-size: 10px;
  text-transform: uppercase;
  padding: 5px;
  width: 50px;
  text-align: center;
  background-color: #f2f4f3;
  border-radius: 5px;
}
.percentage_tracker {
  font-size: 15px;
  font-weight: 500;
}
.increase {
  color: #16c784;
}
.decrease {
  color: #ea3943;
}
.Coin_Details_wrapper {
  max-width: 1000px;
  display: block;
  margin: 0 auto;
  padding: 50px 50px 10px 50px;
}
.toggle_btns_innerWrapper {
  padding: 5px;
  display: block;
}
.btn {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 10px;
  font-weight: 700;
  cursor: pointer;
}
.btn:active {
  background-color: #0d1527;
  color: white;
}
.btn:last-child {
  margin-right: 0;
}
.toggle_btns_wrapper {
  margin-top: 10px;
}
.active {
  background-color: #0d1527;
  color: white;
}
.secondary_header {
  font-size: 20px;
}
.about_wrapper {
  margin-top: 50px;
}
.about_text {
  line-height: 1.5;
  color: rgb(38, 38, 38);
}
.about_text a {
  text-decoration: none;
  font-weight: 700;
}
.about_text a:hover {
  text-decoration: underline;
}
.market_stats_innerWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
.market_stat_item p {
  text-align: left;
}
.market_stat_item .header {
  color: rgb(38, 38, 38);
}
.market_stat_item .stat {
  font-weight: 900;
}
.stat_increasing {
  font-weight: 900;
  color: #16c784;
}
.stat_decreasing {
  font-weight: 900;
  color: #ea3943;
}
